{% extends "layout.html" %}

{% block title %}
Bitcoin Transactions
{% endblock %}


{% block body %}

<h1>Bitcoin Transactions</h1>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in bitcoins.transactions %}
            <tr>
                <td>{{ transaction.timestamp }}</td>
                <td>{{ transaction.quantity }}</td>
                <td>${{ transaction.price }}</td>
                <td>${{ transaction.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<h2>Total Cost: ${{ bitcoins.total_cost }}</h2>

<a href="/bitcoin">Buy More</a>

{% endblock %}
