body {
    background-color: azure;
}

h2 {
    color: blue;
    font-family: Arial;
    border: 2px red solid;
}


h1 {
    text-align: center;
}

.hello {
    color: brown;
}

.larger {
    font-size: x-large;
}

.gray-bg {
    background-color: gray;
}

.beige-bg p {
    background-color: beige;
    padding: 5px;
}

a:hover{
    background-color: yellow;
    text-decoration: none;
}