h1 {
    color: #006644;
}
div {
    font-size: x-large;
    border: 1px black solid;
    border-radius: 5%;
    padding: 5px;
    background-color: beige;
}

p {
    color: red;
}

#blue-color {
    color: blue;
}

.gray-bg {
    background-color: gray;
}

header {
    text-align: center;
}

footer {
    text-align: center;
    font-size: x-small;
}